*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(120, 120, 252);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.ciudades{
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 15px;
    justify-content: center;
    gap: 5px;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cookieAcepto{
    background-color: rgb(222, 222, 7);
    color: black;
    padding: 5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.semana{
    display: flex;
    gap: 20px;
}

.dia{
    padding: 15px;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(238, 238, 238);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    width: 140px;
}

img{
    width: 80px;
}

.ocultar{
    display: none;
}